    body {
    font-family: Georgia, Serif;
    }
    .containerbig{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:brown;
    }
    
    .container {
    width: 300px;
    height: 600px;
    background-color: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: brown;
    }
    
    button {
    background-color: burlywood;
    color: brown;
    font-weight: bold;
    border-radius: 9px;
    width: 
    

    }
    
    .containerbig2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:brown;
    }
    
    #claves,#clave-enc,#clave-dec {
    display: none;
    }

    .title {
    margin-bottom: 60px;
    }