    @import url('https://fonts.googleapis.com/css?family=Zilla+Slab');
    @import url('https://fonts.googleapis.com/css?family=Noto+Serif+TC');
    @import url('https://fonts.googleapis.com/css?family=Carter+One');
        
    body{
    font-family: 'Carter One', cursive;
    }

    .containerbig{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aeaebd;
    }
    
    .container {
    width: 300px;
    height: 600px;
    background-color: rgba(121,18,195,0.80);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    color: rgba(238,235,238,1);
    margin-top: 10px;
    margin-bottom: 10px;
    }
    
    button {
    background-color: rgb(236, 18, 178);
    color: rgba(238,235,238,1);
    border-radius: 9px;
    font-size: 15px;
    font-family: 'Noto Serif TC', serif;
    border: 5px outset rgba(238,235,238,1);
    }

    .container p{
    font-size: 28px;
    color: rgba(238,235,238,1);
    margin-bottom: 10px;
    }
    
    .containerbig2 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("img/fondo.jpg");
    background-color: #aeaebd;
    }
    
    .containerbig {
    background-image: url("img/fondo.jpg");  
    background-color: #aeaebd;
    }

    #claves,#clave-enc,#clave-dec {
    display: none;
    }

    .title {
    margin-bottom: 60px;
    padding-left: 15px;
    padding-right: 15px;
    }

    label {
    font-size: 18px;
    font-family: 'Zilla Slab', serif;
    }
    

    #number {
    width: 30px;
    }

    #encode-key,#decode-key,#saludo,#key2 {
    font-family: 'Zilla Slab', serif;
    }